/**********************************
*
* 	Expand 
* 
**********************************/
// UX for clicking on trigger
.expand--trigger {
	cursor: pointer;
}

// Show target when expand element is open
.expand__isOpen {
	.expand--target {
		opacity: 1;
	}
}

// Hide target when expand element is closed
.expand__isClosed {
	.expand--target {
		opacity: 0;
	}
}

/* Custom Styling */
.expand--target {
	transition: .4s margin linear,.2s opacity linear;
	float: left;
	display: inline-block;
}
.expand__isClosed .expand--target {
    margin-top: -20%;
}